.container{
    display: flex;
    width: 100%;
    text-align: center;
}

.banner {
    text-align: center;
}

.profile{
    background-color: lightgrey;
    margin: auto;
    max-width: 500px;
    padding: 10px;
    text-align: center;
    margin-top: 7px;
}

.image{
    border-radius: 50%;
    max-width: 150px;
    max-height: 200px;
}

.profile-summary {
    font-size: x-large;
}

button {
    padding: 5px;
}